flask
flask-sqlalchemy
flask-login
flask-migrate
flask-bcrypt
flask-wtf
wtforms
email-validator
python-dotenv
numpy
pandas
matplotlib
plotly
scikit-learn
spacy
nltk
sentence-transformers
joblib
pdfplumber
pypdf
python-docx
werkzeug
gunicorn